<div class="col-lg-6 col-md-6 col-xs-12 offset-3">
    <h2 class="card-center">Detail of the Ticket</h2>
    <div class="row">
        <div class="col-md-4 mb-0">
            <label for="id_car">Car</label>
            <p id="id_car" class="form-control">{{ ticket.car }}</p>
        </div>
        <div class="form-group col-md-4 mb-0">
            <label for="id_trip">Trip</label>
            <p id="id_trip" class="form-control">{{ ticket.get_trip_display }}</p>
        </div>
        <div class="form-group col-md-2 mb-0">
            <label for="id_location">Importance</label>
            <p class="form-control">{{ ticket.get_importance_display }}</p>
        </div>
        <div class="col-md-2 mb-0">
            <label for="id_subject">Status</label>
            <p class="form-control" id="id_subject" >{{ ticket.detail.get_status_display }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-0">
            <label for="id_origin">Origin</label>
            <p id="id_origin" class="form-control">{{ ticket.origin }}</p>
        </div>
        <div class="form-group col-md-6 mb-0">
            <label for="id_destination">Destination</label>
            <p id="id_destination" class="form-control">{{ ticket.destination }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-0">
            <label for="leave_time_id">Leave-time</label>
            <p id="leave_time_id" class="form-control">{{ ticket.leave_time }}</p>
        </div>
        <div class="form-group col-md-6 mb-0">
            <label for="return_time_id">Return-time</label>
            <p id="return_time_id" class="form-control">{{ ticket.return_time }}</p>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12 mb-0">
            <label for="id_location">Note</label>
            <p class="form-control" id="id_location" style="word-wrap:break-word;" >{{ ticket.note }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-0">
            <label for="id_location">Assignee</label>
            <p class="form-control" id="id_location" >{{ ticket.detail.assignee }}</p>
        </div>
        <div class="col-md-4 mb-0">
            <label for="id_location">Created by</label>
            <p class="form-control" id="id_location" >{{ ticket.detail.created_by}}</p>
        </div>
        <div class="col-md-4 mb-0">
            <label for="id_location">Created at</label>
            <p class="form-control" id="id_location" >{{ ticket.detail.created_at}}</p>
        </div>
    </div>
    {% if ticket.detail.created_by == user %}
        {% if ticket.detail.status == 0 %}
            <a class="btn btn-dark mr-2 float-right" style="cursor: pointer; z-index: 101" href="{% url 'transportation:ticket_close' pk=ticket.detail.pk %}">Close</a>
        {% elif ticket.detail.status == 4 %}
            <a class="btn btn-dark mr-2 float-right" style="cursor: pointer; z-index: 101" href="{% url 'transportation:ticket_open' pk=ticket.detail.pk %}">Open</a>
        {% endif %}
    {% endif %}
</div>
{% if user.profile.department == 4 or user.is_superuser%}
    {% if user.is_staff or user.is_HEAD or user.is_superuser %}
        <div class="col-lg-6 col-md-6 col-xs-12 offset-3 {% if ticket.detail.created_by == user %}mt-5{% endif %}">
            <h2 class="card-center mt-5">Activities of the Ticket</h2>
            {% include 'transportation/list/activities/activities_list.html' %}
        </div>
    {% endif %}
{% endif %}

