{% extends 'intranet/../../../../../Intranet/templates/base/base.html' %}

{% block title %}
    <title>List | DocumentLibrary</title>
{% endblock %}

{% block content %}
    {% include 'document_library/default/list/blocks/documents_block.html' %}
    {#    {% if table %}#}
    {#        {% include 'document_library/document_library/list/blocks/documents_block.html' %}#}
    {#    {% else %}#}
    {#        {% include 'document_library/document_library/list/blocks/documents-in-cards_block.html' %}#}
    {#    {% endif %}#}
{% endblock %}
