
<section class="p-5">

    {% if have_posts %}
        <div class="magazine-section mx-md-5 dark-grey-text my-md-5">

            <!-- Section heading -->
            <h3 class="text-center font-weight-bold mb-4 pb-2">Magazine newsfeed</h3>
            <!-- Section description -->
            <p class="text-center w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla sint occaecat cupidatat non proident, sunt culpa
                qui officia deserunt est laborum.</p>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-6 col-md-12">

                    {% include 'singles/home/template/blocks/includes/newsfeed/left-featured.html' %}

                    {% for post in left_small_posts %}
                        {% include  'singles/home/template/blocks/includes/newsfeed/small.html' %}
                    {% endfor %}

                </div>

                <!-- Grid column -->
                <div class="col-lg-6 col-md-12">

                    {% include 'singles/home/template/blocks/includes/newsfeed/right-featured.html' %}

                    {% for post in right_small_posts %}
                        {% include  'singles/home/template/blocks/includes/newsfeed/small.html' %}
                    {% endfor %}

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
        </div>
    {% endif %}

</section>
<!-- Newsfeed-->