<div class="row justify-content-center align-items-center p-md-5 py-xs-5">
    <div class="col-lg-8 col-md-8 col-xs-12">
    <h2 class="card-title text-center mt-5 mb-3">{% block form_title %}{% endblock %}</h2>
        {% block form %}
        {% endblock %}
    </div>
    {% block contact %}
        <div class="col-lg-4 col-md-4 col-xs-12 mt-xs-5">
            <h2 class="card-title text-center">Contact Info</h2>
            <div class="col-md-12 text-center" >
                <ul class="list-unstyled mb-0">
                    <li>
                        <i class="fas fa-map-marker-alt fa-2x blue-text"></i>
                        <p>{% block contact_address %}{% endblock %}</p>
                    </li>
                    <li>
                        <i class="fas fa-phone fa-2x mt-4 blue-text"></i>
                        <p>{% block contact_phone %}{% endblock %}</p>
                    </li>
                    <li>
                        <i class="fas fa-envelope fa-2x mt-4 blue-text"></i>
                        <p class="mb-0">{% block contact_email %}{% endblock %}</p>
                    </li>
                </ul>
            </div>
        </div>
    {% endblock %}
</div>