<div class="row">

    <!--Grid column-->
    <div class="col-md-6 mb-4">

        <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-main.jpg" class="img-fluid z-depth-1-half"
             alt="">

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4">

        <!-- Main heading -->
        <h3 class="h3 mb-3"> About the company</h3>
        <p>
            SOCAR AQS LLC was established as an integrated drilling and well services management company between the State Oil Company of Azerbaijan Republic (SOCAR) and Absheron Drilling Company (AQS) in 2007.

            The JV partner, SOCAR, brings over 160 years of industrial oil well drilling experience to SOCAR AQS;
            The JV partner, AQS, brings advanced drilling technologies and new management methods to SOCAR AQS.

            The company has been a contractor member of IADC since 2009. SOCAR AQS has been assessed and certified as meeting the requirements of ISO 9001:2015, ISO 14001:2015 and ISO 45001:2018 international standards for: Provision of Integrated Offshore Oil & Gas Drilling and Well Services; Casing Running Services and BOP and Wellhead Equipment Repairing and Testing Services.

            In 2017, SOCAR AQS have been certified as meeting the requirements of the API Spec Q2 Quality Management System Standard for the Provision of Integrated Offshore Oil & Gas Drilling & Well Services.

            Currently, SOCAR AQS implements works on drilling the wells from fixed platforms 7 and 11 located on Shallow Water Gunashli Field, fixed platform 20 on the West Absheron fixed platform 1 located on Umid Field and from fixed platform 6 located on the Bulla Field.</p>

    </div>
    <!--Grid column-->

</div>
<!--Grid row-->



