<div class="col-lg-6 col-md-6 col-xs-12">
    <h2 class="card-title">Detail of the Tag</h2>
    <div class="row">
        <div class="col-md-6 mb-0">
            <label for="id_assignee">Name</label>
            <p class="form-control" id="id_assignee" >{{ tag.name }}</p>
        </div>
        <div class="col-md-6 mb-0">
            <label for="id_subject">Category</label>
            <p class="form-control" id="id_subject" >{{ tag.get_category_display }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-0">
            <label for="id_subject">Description</label>
            <p class="form-control" id="id_subject" >{{ tag.description }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-0">
            <label for="id_created_by">Created by</label>
            <p class="form-control" id="id_created_by" >{{ tag.created_by}}</p>
        </div>
        <div class="col-md-6 mb-0">
            <label for="id_created_at">Created at</label>
            <p class="form-control" id="id_created_at" >{{ tag.created_at}}</p>
        </div>
    </div>
    {% if tag.created_by == user %}
            <a class="btn btn-dark m-0 float-right" href="{% url 'news:tag_delete' pk=tag.pk %}/#content">Delete</a>
    {% endif %}
</div>

