{% extends 'intranet/../../../../../../Intranet/templates/base/blocks/../../../../../../Intranet/templates/intranet/base/list/table_block.html' %}


{% block thead %}
    <th class="th-sm">{{ user_name|default:'User' }}</th>
    <th class="th-sm">{{ department|default:'Department' }}</th>
    <th class="th-sm">{{ internal_number|default:'Internal number' }}</th>
    <th class="th-sm">{{ mobile_number|default:'Mobile number' }}</th>
{% endblock %}

{% block tbody %}
    {% for contact in contacts %}
        <tr>
            <td>{{ contact.user.get_full_name }}</td>
            <td>{{ contact.get_department_display }}</td>
            <td>{{ contact.internal_number}}</td>
            <td>{{ contact.mobile_number}}</td>
        </tr>
    {% endfor %}
{% endblock %}
