{% load static %}

<div class="col-12">
    <table id="table" class="table table-bordered table-hover w-100">
        <thead>
        <tr>
            {% block thead %}
                <th>Action</th>
                <th>{{ assignee|default:'Assignee' }}</th>
                <th>{{ subject|default:'Subject' }}</th>
                <th>{{ location|default:'Location' }}</th>
                <th>{{ importance|default:'Importance' }}</th>
                <th>{{ status|default:'Status' }}</th>
                {% if not user == tickets.0.detail.created_by %}
                    <th>{{ creator|default:'Creator' }}</th>
                {% endif %}
                <th>{{ when|default:'Created at' }}</th>
            {% endblock %}
        </tr>
        </thead>

        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td class="text-center">
                    <div class="btn-group">
                        <a class="btn btn-primary" href="{% url 'warehouse:ticket_detail' pk=ticket.pk %}#page-content">View</a>
                        {% if user != ticket.detail.created_by and user.is_superuser or user != ticket.detail.created_by and user.is_staff and user.profile.department == 3 %}
                            <a class="btn btn-danger"  href="{% url 'warehouse:ticket_detail_update' pk=ticket.detail.pk %}/#page-content">Process</a>
                        {% else %}
                            <a class="btn btn-danger"  href="{% url 'warehouse:ticket_update' pk=ticket.pk %}/#page-content">Update</a>
                        {% endif %}
                    </div>
                </td>
                <td class="text-center">{% if ticket.detail.assignee %}
                    {{ ticket.detail.assignee }}
                {% else %}
                    Not assigned
                {% endif %}
                </td>
                <td class="text-center">{{ ticket.get_subject_display }}</td>
                <td class="text-center">{{ ticket.location }}</td>
                <td class="text-center">{{ ticket.get_importance_display}}</td>
                <td class="text-center">{{ ticket.detail.get_status_display }}</td>
                {% if user != ticket.detail.created_by %}
                    <td class="text-center">{{ ticket.detail.created_by }}</td>
                {% endif %}
                <td class="text-center">{{ ticket.detail.created_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% block javascript %}
    <script src="{% static "js/datatable_configuration.js" %}"></script>
{% endblock %}