<!-- Card Regular -->
<div id="card" class="card card-cascade">

    <!-- Card image -->
    <div class="view view-cascade overlay">
        <img class="card-img-top" src="{{ card.image.url }}" alt="Card image cap">
        <a>
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

        <!-- Title -->
        <h4 class="card-title"><strong>{{ card.name }} {{ card.surname }}</strong></h4>
        <!-- Subtitle -->
        <h5 class="blue-text pb-2"><strong>{{ card.company }}</strong></h5>
        <h6>{{ card.enter_datetime }}</h6>
        <h6>{{ card.leave_datetime }}</h6>
    </div>

</div>
<!-- Card Regular -->

<button onclick="print()">Print</button>

<script>
    function print() {

        var prtContent = document.getElementById("card");
        var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
        WinPrint.document.write(prtContent.innerHTML);
        WinPrint.document.close();
        WinPrint.focus();
        WinPrint.print();
        WinPrint.close();
    }
</script>