.blue-skin .navbar {
    background-color: #0066ff;
    color: #fff;
}

.blue-skin .side-nav {
    background-color: #0066ff;
    color: #fff;
}

footer.page-footer .footer-copyright {
    background-color: rgba(0,0,0,0)!important;
}

.real-blue {
    background-color: #0066ff!important;
}

.printIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    color: #fff!important;
}