{% load crispy_forms_tags %}

<div class="col-lg-8 col-md-8 col-xs-12">
    <h2 class="card-title">Update the Article</h2>
    <form class="forms-sample" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4 mb-0">
                {{ form.subject|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.title|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.importance|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12 mb-0">
                {{ form.introduction|as_crispy_field }}
            </div>
            <div class="form-group col-md-12 mb-0">
                {{ form.body|as_crispy_field }}
            </div>
            <div class="form-group col-md-12 mb-0">
                {{ form.conclusion|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12 mb-0">
                {{ form.tags|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-0">
                <div class="form-control file-upload-info">
                    {{ form.primary_image|as_crispy_field }}
                </div>
            </div>
            <div class="form-group col-md-6 mb-0">
                <div class="form-control file-upload-info">
                    {{ form.secondary_image|as_crispy_field }}
                </div>
            </div>
        </div>
        <button  type="submit" class="btn btn-primary mr-0 my-4 float-right">Update</button>
    </form>
</div>

{% block js %}
    <script>
        $(document).ready(function () {
            $('#id_button_upload_primary_image').click(function () {
                $('#id_primary_image').click();
            });
            $('#id_primary_image').change(function(e){
                let fileName = e.target.files[0].name
                $('#id_uploaded_primary_image').html(fileName)
            });

            $('#id_button_upload_secondary_image').click(function () {
                $('#id_secondary_image').click();
            });
            $('#id_secondary_image').change(function(e){
                let fileName = e.target.files[0].name
                $('#id_uploaded_secondary_image').html(fileName)
            });
        });
    </script>
{% endblock%}