{#{% load static %}#}
{##}
{#{% spaceless %}#}
{#    <div class="col-12">#}
{#        <table id="table" class="table table-bordered table-hover w-100">#}
{#            <thead>#}
{#            <tr>#}
{#                {% block thead %}#}
{#                    <th>{{ user_name|default:'User' }}</th>#}
{#                    <th>{{ file_name|default:"File's name " }}</th>#}
{#                    <th>{{ file_extension|default:"File's extension" }}</th>#}
{#                    <th>{{ date|default:'Upload date' }}</th>#}
{#                    <th>Action</th>#}
{#                {% endblock %}#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% block tbody %}#}
{#                {% for document in documents %}#}
{#                    <tr>#}
{#                        <td>{{ document.created_by.get_full_name }}</td>#}
{#                        <td>{{ document.file_name }}</td>#}
{#                        <td>{{ document.file_extension}}</td>#}
{#                        <td>{{ document.created_at}}</td>#}
{#                        <td>#}
{#                                <form style="display:inline" method="post" action="{% url 'doclib:download-uploaded-file' document.file|stringformat:"s" %}#content">#}
{#                                    {% csrf_token %}#}
{#                                    <input type="submit" value="Download">#}
{#                                </form>#}
{#                                <form style="display:inline" method="post" action="{% url 'doclib:delete-uploaded-file' document.pk %}#content">#}
{#                                    {% csrf_token %}#}
{#                                    <input type="submit" value="Delete">#}
{#                                </form>#}
{#                        </td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#            {% endblock %}#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{#{% endspaceless %}#}
{% load static %}

{% spaceless %}
    <div class="col-12">
        <table id="table" class="table table-bordered table-hover w-100">
            <thead>
            <tr>
                {% block thead %}
                    <th>{{ user_name|default:'User' }}</th>
                    <th>{{ file_name|default:"File's name " }}</th>
                    <th>{{ file_extension|default:"File's extension" }}</th>
                    <th>{{ date|default:'Upload date' }}</th>
                    <th>Action</th>
                {% endblock %}
            </tr>
            </thead>
            <tbody>
            {% block tbody %}
                {% for document in documents %}
                    <tr>
                        <td>Ruslan Butdayev</td>
                        <td>ICT Resources</td>
                        <td>docx</td>
                        <td>2019-05-22}</td>
                        <td>
                                <form style="display:inline" method="post" action="{% url 'doclib:download-uploaded-file' document.file|stringformat:"s" %}#content">
                                    {% csrf_token %}
                                    <input type="submit" value="Download">
                                </form>
                                <form style="display:inline" method="post" action="{% url 'doclib:delete-uploaded-file' document.pk %}#content">
                                    {% csrf_token %}
                                    <input type="submit" value="Delete">
                                </form>
                        </td>
                    </tr>
                {% endfor %}
            {% endblock %}
            </tbody>
        </table>
    </div>
{% endspaceless %}



{% block javascript %}
    <script src="{% static "js/../../../../../static/new/js/datatable_configuration.js" %}"></script>
{% endblock %}