{% load static %}
<div class="col-12">
    <table id="table" class="table table-bordered table-hover w-100">
        <thead>
        <tr>
            {% block thead %}
                <th>Action</th>
                <th>{{ name|default:'Name' }}</th>
                <th>{{ category|default:'Category' }}</th>
                <th>{{ created_by|default:'Created by' }}</th>
                <th>{{ created_at|default:'Created at' }}</th>
            {% endblock %}
        </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td class="text-center">
                    <div class="btn-group">
                        <a class="btn btn-primary" href="{% url 'news:tag_detail' pk=tag.pk %}#content">View</a>
                        <a class="btn btn-danger"  href="{% url 'news:tag_update' pk=tag.pk %}#content">Update</a>
                    </div>
                </td>
                <td class="text-center">{{ tag.name }}</td>
                <td class="text-center">{{ tag.get_category_display }}</td>
                <td class="text-center">{{ tag.created_by }}</td>
                <td class="text-center">{{ tag.created_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% block javascript %}
    <script src="{% static "js/datatable_configuration.js" %}"></script>
{% endblock %}