<div class="col-lg-8 col-md-8 col-xs-12">
    <h2 class="card-title">Detail of the Article</h2>
    <div class="forms-sample">
        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
                <label for="id_location">Title</label>
                <p class="form-control">{{ article.title }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mb-0">
                <label for="id_subject">Subject</label>
                <p class="form-control">{{ article.subject }}</p>
            </div>
            <div class="form-group col-2">
                <label for="id_location">Importance</label>
                <p class="form-control">{{ article.get_importance_display }}</p>
            </div>
            <div class="col-md-2 mb-0">
                <label for="id_subject">Status</label>
                <p class="form-control" id="id_subject" >{{ article.detail.get_status_display }}</p>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
                <label for="article">Article</label>
                <p class="form-control" id="article" style="word-wrap:break-word;" >{{ article.introduction }}</p>
                <p class="form-control" id="article" style="word-wrap:break-word;" >{{ article.body }}</p>
                <p class="form-control" id="article" style="word-wrap:break-word;" >{{ article.conclusion }}</p>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-10 mb-0">
                <label for="id_location">Tags</label>
                <p class="form-control" id="id_location" >
                    {% for tag in article.tags.all %}
                        {% if forloop.last %}
                            {{ tag }}
                        {% else %}
                            {{ tag }} |
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                <label for="id_location">Created by</label>
                <p class="form-control" id="id_location" >{{ article.detail.created_by}}</p>
            </div>
            <div class="form-group col-md-6 mb-0">
                <label for="id_location">Created at</label>
                <p class="form-control" id="id_location" >{{ article.detail.created_at}}</p>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                <label for="id_primary_image">Primary Image</label>
                <a href="{{ article.primary_image.url}}" class="form-control" id="id_primary_image" >{{ article.primary_image.url}}</a>
            </div>
            <div class="form-group col-md-6 mb-0">
                <label for="id_secondary_image">Secondary Image</label>
                <a href="{{ article.secondary_image.url}}" class="form-control" id="id_secondary_image" >{{ article.secondary_image.url}}</a>
            </div>
        </div>
        {% if article.detail.created_by == user %}
            {% if article.detail.status == 0 %}
                <a class="btn btn-dark m-0 mt-2 float-right" href="{% url 'news:article_close' pk=article.detail.pk %}#content">Close</a>
            {% elif article.detail.status == 4 %}
                <a class="btn btn-dark m-0 mt-2 float-right" href="{% url 'news:article_open' pk=article.detail.pk %}#content">Open</a>
            {% endif %}
        {% endif %}
    </div>
    <a class="btn btn-dark m-0 mt-2 mr-2 float-right" href="{% url 'news:article_template' pk=article.detail.pk %}#content">article</a>
</div>

{% if user.profile.department == 5 or user.is_superuser%}
    {% if user.is_staff or user.is_HEAD or user.is_superuser %}
        <div class="col-lg-8 col-md-8 col-xs-12 {% if article.detail.created_by == user %}mt-5{% endif %}">
            <h2 class="card-center mt-5">Activities of the Ticket</h2>
            {% include 'news/list/activities/activities_list.html' %}
        </div>
    {% endif %}
{% endif %}

