{% extends 'intranet/../../../../../../Intranet/templates/base/blocks/../../../../../../Intranet/templates/intranet/base/create/form_block.html' %}
{% load crispy_forms_tags %}

{% block form_title %}
    Create a Ticket
{% endblock %}

{% block form %}
    <form class="forms-sample" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-4 mb-0">
                {{ form.subject|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.location|as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ form.importance|as_crispy_field }}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12 mb-0">
                {{ form.note|as_crispy_field }}
            </div>
            <div class="form-group col-md-12 mb-0">
                {{ form.material|as_crispy_field }}
            </div>
        </div>
        <button  type="submit" class="btn btn-primary mr-2">Submit</button>
    </form>
{% endblock %}

{% block contact_address %}
    Ahmad Rajabli 2/10, Baku Azerbaijan
{% endblock %}
{% block contact_phone %}
    (00994) 70 220 50 50
{% endblock %}
{% block contact_email %}
    warehouse@socar-aqs.com
{% endblock %}
