<div id="nav-scroller" class="nav-scroller nav-scroller-sticky-top bg-white shadow-sm">
    <nav class="nav nav-underline">
        <a class="nav-link" href="{% url 'guest_control:internal_visit_ticket_create' %}/#content">Create an Internal Visit Ticket</a>
        <a class="nav-link" href="{% url 'guest_control:internal_visit_tickets_list' pattern='my/open' %}/#content">List my open Internal Visit Tickets</a>
{#        <a class="nav-link" href="{% url 'guest_control:external_visit_tickets_list' pattern='my/processing' %}/#content">List my processing External Visit Tickets</a>#}
        <a class="nav-link" href="{% url 'guest_control:internal_visit_tickets_list' pattern='my/closed' %}/#content">List my closed Internal Visit Tickets</a>
        {% if user.profile.department == 6 or user.is_superuser%}
            {% if user.is_staff or user.is_superuser or user.is_HEAD%}
                <a class="nav-link" href="{% url 'guest_control:internal_visit_tickets_list' pattern='all/open' %}/#content">All open Internal Visit Tickets</a>
{#                <a class="nav-link" href="{% url 'guest_control:external_visit_tickets_list' pattern='to/me/assigned' %}/#content">To me assigned external_visit_tickets</a>#}
{#                <a class="nav-link" href="{% url 'guest_control:external_visit_tickets_list' pattern='by/me/assigned' %}/#content">By me assigned external_visit_tickets</a>#}
{#                <a class="nav-link" href="{% url 'guest_control:external_visit_tickets_list' pattern='by/me/accepted' %}/#content">By me accepted external_visit_tickets</a>#}
{#                <a class="nav-link" href="{% url 'guest_control:external_visit_tickets_list' pattern='by/me/distagded' %}/#content">By me distagded external_visit_tickets</a>#}
{#                <a class="nav-link" href="{% url 'guest_control:internal_visit_tickets_list' pattern='by/me/closed' %}/#content">By me closed Internal Visit Tickets</a>#}
                {% if user.is_HEAD or user.is_superuser%}
{#                    <a class="nav-link" href="{% url 'guest_control:external_visit_tickets_list' pattern='all/accepted' %}/#content">All accepted external_visit_tickets</a>#}
{#                    <a class="nav-link" href="{% url 'guest_control:external_visit_tickets_list' pattern='all/assigned' %}/#content">All assigned external_visit_tickets</a>#}
{#                    <a class="nav-link" href="{% url 'guest_control:external_visit_tickets_list' pattern='all/distagded' %}/#content">All distagded external_visit_tickets</a>#}
                    <a class="nav-link" href="{% url 'guest_control:internal_visit_tickets_list' pattern='all/closed' %}/#content">All closed Internal Visit Tickets</a>
                {% endif %}
            {% endif %}
        {% endif %}
    </nav>
</div>