{% extends 'base/base.html' %}

{% block content %}
    <section class="section  mt-5 pb-3 text-center">
        <nav>
            <div class="nav nav-tabs blue" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-evt" role="tab"
                   aria-controls="nav-home" aria-selected="true">External Visitor Ticket</a>
                <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-ivt" role="tab"
                   aria-controls="nav-home" aria-selected="true">Internal Visitor Ticket</a>
                <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-vec" role="tab"
                   aria-controls="nav-home" aria-selected="true">Visitor Entrance Card</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="row justify-content-between tab-pane fade show active" id="nav-evt" role="tabpanel" aria-labelledby="nav-home-tab">
                <a href="{% url 'guestcontrol:external_visit_ticket_create' %}" class="btn btn-primary"><i class="fas fa-magic mr-1"></i> Create a ticket</a>
                <a href="{% url 'guestcontrol:external_visit_tickets_list' pattern='open' %}" class="btn btn-primary"><i class="fas fa-list mr-1"></i> List tickets</a>

            </div>
            <div class="row justify-content-between tab-pane fade show" id="nav-ivt" role="tabpanel" aria-labelledby="nav-home-tab">
                <a href="{% url 'guestcontrol:internal_visit_ticket_create' %}" class="btn btn-primary"><i class="fas fa-magic mr-1"></i> Create a ticket</a>
                <a href="{% url 'guestcontrol:internal_visit_tickets_list' pattern='open' %}" class="btn btn-primary"><i class="fas fa-list mr-1"></i> List tickets</a>

            </div>
            <div class="row justify-content-between tab-pane fade show" id="nav-vec"a role="tabpanel" aria-labelledby="nav-home-tab">
                <a href="{% url 'guestcontrol:visitor_entrance_card_create' %}" class="btn btn-primary"><i class="fas fa-magic mr-1"></i> Create a card</a>
                <a href="{% url 'guestcontrol:visitor_entrance_cards_list' %}" class="btn btn-primary"><i class="fas fa-list mr-1"></i> List cards</a>

            </div>
        </div>
    </section>
{% endblock %}