<main>
    <div class="container">

        <!--Section: Main info-->
        <section class="mt-5 wow fadeIn">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-6 mb-4">

                    <img src="https://mdbootstrap.com/img/Marketing/mdb-press-pack/mdb-main.jpg" class="img-fluid z-depth-1-half"
                         alt="">

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 mb-4">

                    <!-- Main heading -->
                    <h3 class="h3 mb-3"> with the release of Letraset sheets con</h3>
                    <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets con
                    </p>

                    <!-- CTA -->
{#                    <a target="_blank" href="https://mdbootstrap.com/docs/jquery/getting-started/download/" class="btn btn-grey btn-md">Download#}
{#                        <i class="fas fa-download ml-1"></i>#}
{#                    </a>#}
{#                    <a target="_blank" href="https://mdbootstrap.com/docs/jquery/components/" class="btn btn-grey btn-md">Live#}
{#                        demo#}
{#                        <i class="far fa-image ml-1"></i>#}
{#                    </a>#}

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Main info-->

        <hr class="my-5">

        <!--Section: Main features & Quick Start-->
        <section>

            <h3 class="h3 text-center mb-5">About Socar-AQS</h3>

            <!--Grid row-->
{#            <div class="row wow fadeIn">#}

                <!--Grid column-->
{#                <div class="col-lg-6 col-md-12 px-4">#}

                    <!--First row-->
{#                    <div class="row">#}
{#                        <div class="col-1 mr-3">#}
{#                            <i class="fas fa-code fa-2x indigo-text"></i>#}
{#                        </div>#}
{#                        <div class="col-10">#}
{#                            <h5 class="feature-title">Socar-aqs</h5>#}
{#                            <p class="grey-text"> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets con</p>#}
{#                        </div>#}
{#                    </div>#}
                    <!--/First row-->

{#                    <div style="height:30px"></div>#}

                    <!--Second row-->
{#                    <div class="row">#}
{#                        <div class="col-1 mr-3">#}
{#                            <i class="fas fa-book fa-2x blue-text"></i>#}
{#                        </div>#}
{#                        <div class="col-10">#}
{#                            <h5 class="feature-title">Detailed documentation</h5>#}
{#                            <p class="grey-text">We give you detailed user-friendly documentation at your disposal. It will help#}
{#                                you to implement your ideas#}
{#                                easily.#}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
                    <!--/Second row-->

{#                    <div style="height:30px"></div>#}

                    <!--Third row-->
{#                    <div class="row">#}
{#                        <div class="col-1 mr-3">#}
{#                            <i class="fas fa-graduation-cap fa-2x cyan-text"></i>#}
{#                        </div>#}
{#                        <div class="col-10">#}
{#                            <h5 class="feature-title">Lots of tutorials</h5>#}
{#                            <p class="grey-text">We care about the development of our users. We have prepared numerous tutorials,#}
{#                                which allow you to learn#}
{#                                how to use MDB as well as other technologies.</p>#}
{#                        </div>#}
{#                    </div>#}
                    <!--/Third row-->

{#                </div>#}
                <!--/Grid column-->

                <!--Grid column-->
{#                <div class="col-lg-6 col-md-12">#}
{##}
{#                    <p class="h5 text-center mb-4">Watch our "5 min Quick Start" tutorial</p>#}
{#                    <div class="embed-responsive embed-responsive-16by9">#}
{#                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cXTThxoywNQ" allowfullscreen></iframe>#}
{#                    </div>#}
{#                </div>#}
                <!--/Grid column-->

{#            </div>#}
            <!--/Grid row-->

        </section>
        <!--Section: Main features & Quick Start-->

    </div>
</main>