{% load static %}

<!-- Section heading -->
<h1 class="text-center h1 pt-4 my-3">
    <strong>About us</strong>
</h1>

<!-- Grid row -->
<div class="row p-5">

    <p class="dark-grey-text article">SOCAR AQS LLC was established as an integrated
        drilling and well services management company between
        the <strong>State Oil Company of Azerbaijan Republic</strong> (SOCAR) and <strong>Absheron Drilling Company</strong> (AQS) in 2007.
    </p>

    <blockquote class="blockquote">
        <li class="dark-grey-text article list-unstyled">
            <ul>
                <li>
                    <p class="mb-0">
                        The JV partner, <strong>SOCAR</strong>, brings over 160 years of industrial oil well drilling experience to SOCAR AQS;
                    </p>
                </li>
                <li>
                    <p class="mb-0">
                        The JV partner, <strong>AQS</strong>, brings advanced drilling technologies and new management methods to SOCAR AQS.
                    </p>
                </li>
            </ul>
        </li>





    </blockquote>

    <p class="dark-grey-text article"> The company has been a contractor member of IADC since 2009.
        SOCAR AQS has been assessed and certified as meeting the requirements of <strong>ISO 9001:2015</strong>, <strong>ISO 14001:2015</strong> and <strong>ISO 45001:2018</strong> international standards for: Provision of Integrated Offshore Oil & Gas Drilling and Well Services;
        Casing Running Services and BOP and Wellhead Equipment Repairing and Testing Services.
    </p>


    <p class="dark-grey-text article">In 2017, SOCAR AQS have been certified as meeting the requirements of the <strong>API Spec Q2 Quality</strong>
        Management System Standard for the Provision of Integrated Offshore Oil & Gas Drilling & Well Services.
    </p>


    <p class="dark-grey-text article">Currently, SOCAR AQS implements works on drilling the wells from fixed platforms 7 and 11 located on Shallow Water Gunashli Field,
        fixed platform 20 on the West Absheron fixed platform 1 located on Umid Field and from fixed platform 6 located on the Bulla Field.
    </p>


</div>
<!-- Grid row -->
</div>
<!-- Grid Column -->

</div>

</div>