{% extends 'intranet/../../../../../../Intranet/templates/base/blocks/../../../../../../Intranet/templates/intranet/base/template/navigation_block.html' %}

{% block navigation_head %}
{#    <a class="nav-item nav-link active" id="nav-document_libary-tab" data-toggle="tab" href="#nav-evt" role="tab"#}
{#       aria-controls="nav-home" aria-selected="true">Default</a>#}
{% endblock %}

{% block navigation_body %}
    <div class="row justify-content-between tab-pane fade show active" id="nav-evt" role="tabpanel" aria-labelledby="nav-document_libary-tab">
        <a href="{% url 'document_library:document_create' %}" class="btn btn-primary"><i class="fas fa-magic mr-1"></i> Create </a>
        <a href="{% url 'document_library:documents_list' %}" class="btn btn-primary"><i class="fas fa-list mr-1"></i> List </a>

    </div>
{% endblock %}